[submodule "level/lib/forge-std"]
	path = level/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "level/lib/openzeppelin-contracts"]
	path = level/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
